:root {
  --bar-color: #A0BAA3;
  --pivot-color: #395646;
  --range-color: #73B0FF;
}

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

main {
  display: flex;
  flex-flow: column wrap;
  gap: 4rem;
  align-items: center;
}

.title {
  padding-top: 4rem;
  font-size: 3rem;
}

.sorting-frame {
  height: 50vh;
  width: 70vw;
  display: flex;
  align-items: flex-end;
}

.info-panel {
  width: 70vw;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-size: 1.5rem;
}

.text {
  grid-column: 2; 
  grid-row: 1;
}

.dark-green-text {
  color: var(--pivot-color);
}

.blue-text {
  color: var(--range-color);
}






.btn {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
}

.btn:hover {
  background-color: aliceblue;
  color: darkslateblue;
  transition: 0.3s;
}

.array-bar {
  background-color: var(--bar-color);
  border: 1px solid white;
  flex-grow: 1;
}
